@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


* {
    font-family: "Lora", serif;
}

/* Custom button override */
.btn-primary {
  @apply bg-linear-to-r from-pink-500 to-red-600 border-none text-white;
}
.btn-primary:hover {
  @apply opacity-90;
}